# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Ferramentas
.ruff_cache/
.pytest_cache/

# Saídas geradas pelos projetos
**/outputs/
**/dados_brutos/

# Modelos treinados e bases locais
*.joblib
*.pkl
*.sqlite

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

**/fontes/
